@import '~src/styles.scss';

.jobs-list {
  
  &__list {
    list-style-type: none;
  }

  &__list-item {
    display: flex;
    padding: 1.5rem;
    border-bottom: 1px solid $grey-medium;
    cursor: pointer;
    border-left: 4px solid transparent;

    &--active {
      background-color: $grey-light;
      border-left: 4px solid $jobseeker-red-darker;  
    }

    &:hover {
      background-color: $grey-light;
    }
  }

  &__img {
    width: 7rem;
    height: 7rem;
  }

  &__company-title {
    margin-bottom: .8rem;
  }
}

.heading-small {
  font-size: 1.6rem;
  color: $jobseeker-red-dark
}

.heading-extra-small {
  font-weight: 400;
}