<form [formGroup]="form" class="form" (submit)="onFormSubmit()">
  <button type="button" class="add-btn" (click)="onAddEducation()">Add Education<span> +</span></button>
  <div formArrayName="education">
    <div class="form-group"
      *ngFor="let e of form.get('education').controls; let i = index">
      <div [formGroupName]="i">
         <div class="input-group">
            <label for="school" class="label">School</label>
            <input type="text" id="school" class="input" formControlName="school" />
          </div>
          <div class="input-group">
            <label for="degree" class="label">Degree</label>
            <input type="text" id="degree" class="input" formControlName="degree" />
          </div>
        <div class="input-group">
          <label for="field" class="label">Field of study</label>
          <input type="text" id="field" class="input" formControlName="field" />
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="submit-btn">Submit</button>
</form>

