@import '~src/styles.scss';

.container {
  background-color: $grey-light;
  display: flex;
  padding: 5rem 1rem 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.application {
  max-width: 60rem;
  width: 100%;
  padding: 3rem;
  background-color: $white;
  border: 2px solid $grey-medium;
  border-top: 4px solid $jobseeker-red-dark;
  border-radius: 4px;
}
h2 {
  margin-bottom: .8rem;
 // font-weight: 400;
//  color: $jobseeker-red;
}
h3 {
  margin-bottom: .4rem;
  font-weight: 400;

}
.bold {
  font-weight: 700;
}
.margin-bottom {
  margin-bottom: 3rem;
}
.application-form {
  display: flex;
  flex-direction: column;
}
.label {
  margin-bottom: .6rem;
  font-size: 1.5rem;
}

.input {
  margin-bottom: 1.4rem;
  padding: .8rem 1.6rem;
  border-radius: 4px;
  outline: none;
  border: 2px solid $grey-medium;
  transition: all .3s;
}
.input:focus {
  border: 2px solid $grey-dark;
}
.file-group {
  display: flex;
  align-items: center;
  margin-bottom: .6rem;
}
.cv-instructions {
  margin-bottom: 4rem;
  margin-left: .4rem;
  font-size: 1.4rem;
  color: $grey;
}
.file-label {
  border: 1px solid $grey-medium;
  padding: .4rem 1.2rem;
  margin-right: 1rem;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    border: 1px solid $grey-dark;
  }
}
.file-input {
  display: none;
}
.cv-preview {
  background: url('../../../../assets/images/pdf.svg'); 
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position-y: 20%;
  padding: 1rem 0 1rem 3rem;
  margin-left: 1rem;
  position: relative;
  max-width: 22rem;
}
.cv-remove::after {
  content: '\00d7';
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  background-color: $grey-medium;
  text-align: center;
  border-radius: 50%;
  padding: 0 .6rem;
  right: -3rem;
  top: -1rem;
  cursor: pointer;
}
.cv-remove:hover::after {
  background-color: $grey-light;  
}
.button {
  padding: 1.2rem 2rem;
  border-radius: 4px;
  max-width: 30rem;
  width: 100%;
  margin: auto;
  color: $white;
  background-color: $jobseeker-red-dark;
}