<header>

  <nav class="header-primary">
    <ul class="header-primary__list">
      <li class="header-primary__list-item">
        <a class="header-primary__list-item-link" href="#">Log in</a>
      </li>
      <li class="header-primary__list-item">
        <a class="header-primary__list-item-link" href="#">Sign up</a>
      </li>
    </ul>
  </nav>

  <nav class="header-secondary-jobseeker">
    <ul class="header-secondary-jobseeker__list">
      <li class="header-secondary-jobseeker__list-item">
        <a class="header-secondary-jobseeker__list-item-link" href="#">Find jobs</a>
      </li>
      <li class="header-secondary-jobseeker__list-item">
        <a class="header-secondary-jobseeker__list-item-link" href="#">Upload CV</a>
      </li>
      <li class="header-secondary-jobseeker__list-item">
        <a class="header-secondary-jobseeker__list-item-link" href="#">Market insights</a>
      </li>
    </ul>
  </nav>

  <nav class="header-secondary-employer">
    <ul class="header-secondary-employer__list">
      <li class="header-secondary-employer__list-item">
        <a class="header-secondary-employer__list-item-link" href="#">Post an ad</a>
      </li>
      <li class="header-secondary-employer__list-item">
        <a class="header-secondary-employer__list-item-link" href="#">Pricing</a>
      </li>
      <li class="header-secondary-employer__list-item">
        <a class="header-secondary-employer__list-item-link" href="#">Try Jobify Premium</a>
      </li>
    </ul>
  </nav>
</header>