@import '~src/styles.scss';

.list {
  list-style-type: none;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 3rem;
  background-color: $grey-light;
  border: 1px solid $grey-medium;
  border-radius: 4px;
  margin-bottom: 2rem;
}
.info-container {
  display: flex;
}
.company-logo {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin-right: 1.5rem;
}
.heading-extra-small {
  color: $grey;
  font-weight: 400;
}
.job-title {
  color: $jobseeker-red-dark;
  font-weight: 400;
}
.company-title {
  margin-bottom: 1rem;
  font-weight: 400;
}
.applied-wrapper {
  display: flex;
  align-items: center;
}
.check-icon {
  width: 1.5rem;
  margin-right: .5rem;
}