<div class="landing-page">
  <div class="landing-page__bg-top"></div>
  <div class="landing-page__bg-bottom"></div>
  <div class="landing-page__main">
    <div class="landing-page__jobs">
      <div class="landing-page__jobs-bg-small"></div>
      <div class="landing-page__jobs-bg-big"></div>
      <h2 class="heading-big jobseeker-heading">Get matched with a job you love</h2>
      <button class="button button-jobseeker">Find jobs</button>
    </div>
    <div class="landing-page__divider"></div>
    <div class="landing-page__employer">
      <div class="landing-page__employer-bg-small"></div>
      <div class="landing-page__employer-bg-big"></div>
      <h2 class="heading-big employer-heading">Hire the best and brightest talent</h2>
      <button class="button button-employer">Post jobs</button>
    </div>
  </div>
</div>