<div *ngIf="job" class="jobs-item">
  <div class="jobs-item__header">
    <div class="jobs-item__header--left">
      <h2 class="heading-medium">{{ job.title }}</h2>
      <h3 class="heading-small">{{ job.company }}</h3>
      <h3>£{{ job.salary }}</h3>
      <div class="jobs-item__button-container">
        <button class="button button-fill">Apply</button>
        <button (click)="onLikeJob(job.id)" class="button button-nofill">Save</button>
      </div>
    </div>
    <div class="jobs-item__header--right">
      <h3 class="jobs-item__heading-small">Location</h3>
      <h3 class="jobs-item__heading-small--bold">{{ job.location }}</h3>
      <h3 class="jobs-item__heading-small">Job type</h3>
      <h3 class="jobs-item__heading-small--bold">{{ job.type }}</h3>
      <h3 class="jobs-item__heading-small">Date posted</h3>
      <h3 class="jobs-item__heading-small--bold">{{ job.datePosted }}</h3>
      <h3 class="jobs-item__heading-small">Industry</h3>
      <h3 class="jobs-item__heading-small--bold">{{ job.industry }}</h3>
    </div>
  </div>
  <div class="jobs-item__body">
    <h3 class="jobs-item__heading-medium--bold">Job Overview</h3>
    <p>{{ job.overview }}</p>
    <h3 class="jobs-item__heading-medium--bold">Responsibilities and Duties</h3>
    <p>{{ job.responsible }}</p>
    <h3 class="jobs-item__heading-medium--bold">Qualifications</h3>
    <p>{{ job.qualify }}</p>  
  </div>
</div>