@import '~src/styles.scss';

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  opacity: .3;
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background-color: $white;
  border-radius: 4px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 3rem;
  background-color: $grey-dark;

  .heading-small {
    color: $white;
    margin: 2rem;
  }
}

p.login__paragraph {
  margin: 1rem;
  color: $white !important;
}

.login__form-container {
  background: blue;
}

.heading-medium {
  font-weight: 400; 
  margin-bottom: 1rem;
  text-align: center;
}
.heading-small {
  text-align: center;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.9rem;
  color: $grey;
}

.jobs-item {

  &__header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $grey-medium;
  }

  &__header--left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__header--right {
  }

  &__heading-small {
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__heading-small--bold {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__heading-medium--bold {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__body {
    padding: 2rem;
  }
}
.button {
  border-radius: 4px;
  padding: 1rem 2rem;
  margin: 2rem .5rem;
}

.button-fill {
  background-color: $jobseeker-red-dark;
  color: $white;
}

.button-nofill {
  border: 1px solid $jobseeker-red-dark;
  color: $jobseeker-red-dark;
  background-color: $white;
}
.login__link {
  color: $unifier-orange;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: .8;
    text-decoration: underline;
  }
}
.save-notification {
  position: absolute;
  bottom: 2.1rem;
  left: 30rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  border: 1px solid $employer-green-dark;
  background-color: $grey-light;
  padding: 1rem;
  border-radius: 4px;
  font-weight: 700;
  -webkit-box-shadow: 4px 4px 16px -1px rgba(0,0,0,0.26);
  -moz-box-shadow: 4px 4px 16px -1px rgba(0,0,0,0.26);
  box-shadow: 4px 4px 16px -1px rgba(0,0,0,0.26);
}
.save-icon {
  width: 1.5rem;
  margin-right: .6rem;
}
.saved {
  width: 14rem;
  text-align: center;
  color: $employer-green-dark;
}
.unsaved {
  width: 19rem;
  text-align: center;
  color: $grey-dark;
}
.grey-border {
  border: 1px solid $grey;
  background-color: $grey-light;
}