<nav class="nav-primary">
  <a 
    routerLink="/"
    class="logo">
    <img src="../../../assets/images/logo.svg" class="logo-img" />
  </a>
  <ul class="nav-primary__list">
    <li *ngIf="jobsSection" class="nav-primary__list-item">
      <a 
        routerLink="/employer/products"
        class="nav-primary__list-item-link nav-primary__list-item-link-switch-employer" 
        >Employers</a>
    </li>
    <li *ngIf="employerSection" class="nav-primary__list-item">
      <a 
        routerLink="/jobs"
        class="nav-primary__list-item-link nav-primary__list-item-link-switch-jobseeker" 
        >Jobseekers</a>
    </li>
    <li *ngIf="!isAuthenticated" class="nav-primary__list-item">
      <a 
        routerLink="/login"
        class="nav-primary__list-item-link">Log in</a>
    </li>
    <li *ngIf="!isAuthenticated" class="nav-primary__list-item">
      <a 
        routerLink="/signup"
        class="nav-primary__list-item-link nav-primary__list-item-link--signup">Sign up</a>
    </li>
    <li *ngIf="isAuthenticated" class="nav-primary__list-item">
      <a 
        routerLink="/notifications"
        class="nav-primary__list-item-link nav-primary__list-item-link--notifications">Notifications</a>
    </li>
    <li *ngIf="isAuthenticated" class="nav-primary__list-item">
      <a
        class="nav-primary__list-item-link nav-primary__list-item-link--profile">User 
        <ul appDropdown class="nav-primary__profile-list">
          <li class="nav-primary__profile-list-item">
            <a 
              routerLink="/profile/summary"
              class="nav-primary__profile-list-item-link profile-link">My Profile</a>
          </li>
          <li class="nav-primary__profile-list-item">
            <a
              routerLink="/tracker/applied" 
              class="nav-primary__profile-list-item-link my-jobs-link">Jobs Tracker</a>
          </li>
          <li class="nav-primary__profile-list-item">
            <a
              routerLink="/account" 
              class="nav-primary__profile-list-item-link settings-link">Account Settings</a>
          </li>
          <li class="nav-primary__profile-list-item">
            <a 
              (click)='onLogout()'
              class="nav-primary__profile-list-item-link logout-link">Log Out</a>
          </li>
        </ul>
        </a>
    </li>
  </ul>
</nav>