@import '~src/styles.scss';

.nav-primary {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 10;
  background-color: $white;
  justify-content: flex-end;

  &__list {
    padding: 1rem 4rem;
  }

  &__list-item {
    display: inline-block;
    margin: 0 1rem;
    font-size: $heading-small;
  }

  &__list-item-link {
    color: $black;
  }
}
