<nav class="nav-primary">
  <ul class="nav-primary__list">
    <li *ngIf="jobsSection" class="nav-primary__list-item">
      <a 
        routerLink="/employer/products"
        class="nav-primary__list-item-link nav-primary__list-item-link-switch-employer" 
        >Employers</a>
    </li>
    <li *ngIf="employerSection" class="nav-primary__list-item">
      <a 
        routerLink="/jobs"
        class="nav-primary__list-item-link nav-primary__list-item-link-switch-jobseeker" 
        >Jobseekers</a>
    </li>
    <li class="nav-primary__list-item">
      <a class="nav-primary__list-item-link" href="#">Log in</a>
    </li>
    <li class="nav-primary__list-item">
      <a class="nav-primary__list-item-link nav-primary__list-item-link--signup" href="#">Sign up</a>
    </li>
  </ul>
</nav>