<div class="search" [ngClass]="{'search--pristine': !jobsSearch}">
  <div class="search__bg"></div>
  <form 
    class="search__form" 
    [ngClass]="{'search__form--pristine': !jobsSearch}"
    (submit)="onSearch(searchForm)" 
    #searchForm="ngForm">
    <div class="search__input-group">
      <label 
        for="title" 
        class="search__input-label"
        [ngClass]="{'search__input-label--pristine': !jobsSearch}">Search job title</label>
      <div class="search__input-icon search__input-icon--search"></div>
        <input
          class="search__form-input"
          [ngClass]="{'search__form-input--pristine': !jobsSearch}"
          type="text"
          name="title"
          placeholder="Job title"
          ngModel
          id="title"
          #titleInput="ngModel"
          required />
    </div>
    <div class="search__input-group">
      <label 
        for="location" 
        class="search__input-label"
        [ngClass]="{'search__input-label--pristine': !jobsSearch}">Search city</label>
      <div class="search__input-icon search__input-icon--location"></div>
        <input
          class="search__form-input"
          [ngClass]="{'search__form-input--pristine': !jobsSearch}"
          type="text"
          name="location"
          id="location"
          placeholder="Location"
          ngModel
          #locationInput="ngModel"
          required />
    </div>
    <button 
      class="button search__button"
      [ngClass]="{'search__button--pristine': !jobsSearch}">Find jobs</button>
  </form>
</div>