@import '~src/styles.scss';

.container {
  min-height: calc(100vh - 12rem);
}

.success-block {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: #43b1e5;
  color: $white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.success-msg {
  background: url('../../../../assets/images/check-11.svg');
  background-repeat: no-repeat;
  background-size: 2.2rem;
  background-position-x: 1rem;
  padding-left: 4rem;
}

.jobs {

  &__search-container {
    max-width: 130rem;
    margin: auto;
  }

  &__container {
    max-width: 130rem;
    margin: auto;
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list-container {
    height: calc(100vh - 21rem);
    overflow-y: auto;
  }

  &__item-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 21rem);
    padding: 3rem;
    overflow-y: auto;
  } 
}

app-jobs-item {
  width: 100%;
}
