@import '~src/styles.scss';

.list {
  list-style-type: none;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 3rem;
  background-color: $grey-light;
  border: 1px solid $grey-medium;
  border-radius: 4px;
  margin-bottom: 2rem;
}
.info-container {
  display: flex;
}
.company-logo {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin-right: 1.5rem;
}
.job-title {
  color: $jobseeker-red-dark;
  font-weight: 400;
}
.company-title {
  margin-bottom: 1rem;
  font-weight: 400;
}
.heading-extra-small {
  color: $grey;
}
.btn-container {
  display: flex;
  align-items: center;
}
.apply-btn {
  color: $white;
  background-color: $employer-green;
  padding: .6rem 1rem;
  border-radius: 4px;
  margin: 0 1rem;
}
.remove::after {
  display: inline-block;
  content: '\00d7';
  font-size: 3rem;
  font-weight: lighter;
  color: $grey;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}
.remove:hover::after {
  background-color: $grey-medium;
  color: $grey-dark;
}