@import '~src/styles.scss';

.list {
  list-style-type: none;
}
.item {
  padding: 1rem 3rem;
  background-color: $grey-light;
  border: 1px solid $grey-medium;
  border-radius: 4px;
  margin-bottom: 2rem;
  // -webkit-box-shadow: 4px 4px 16px -1px rgba(0,0,0,0.26);
  // -moz-box-shadow: 4px 4px 16px -1px rgba(0,0,0,0.26);
  // box-shadow: 4px 4px 16px -1px rgba(0,0,0,0.26);
}

.heading-extra-small {
  color: $grey;
}