@import '~src/styles.scss';

.container {
 padding: 3rem;
}
.cv-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;  
}
.check-icon {
  width: 2rem;
  margin-right: 1rem;
}
.date {
  font-size: 1.4rem;
  margin: .6rem 0;
  display: inline-block;
  color: $grey;
}
.view-button {
  background-color: #43b1e5;
  color: $white;
  padding: .6rem 1.4rem;
  border-radius: 4px;
  margin: 0 1rem 0 10rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.remove-button {
  background-color: $grey-light;
  color: $grey-dark;
  padding: .6rem 1.4rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.button-icon {
  width: 1.8rem;
  margin-right: .6rem;
}