<div class="container">
  <div *ngIf="cv" class="cv-container">
    <img class="check-icon" src="./assets/images/check-symbol.svg" />
    <div>
      <h3 class="heading-small">{{ cvName }}</h3>
      <span class="date">Uploaded on 12.02.2020</span>
    </div>
    <a class="view-button" href="{{ cv }}" target="_blank">
      <img class="button-icon" src="./assets/images/cv-2.svg" />
      View
    </a>
    <a (click)="onCvRemove()" class="remove-button">
      <img class="button-icon" src="./assets/images/delete.svg" />
      Remove
    </a>
  </div>
</div>