<div class="container">
  <div *ngIf="!cv" class="upload-cv-container"> 
    <img class="upload-icon" src="./assets/images/upload-3.svg"/>
    <h1 class="heading-small heading-main">Upload your CV to:</h1>
    <div class="benefit-container">
      <img class="check-icon" src="./assets/images/check-symbol.svg" />
      <h3 class="heading-small">Apply to jobs on Jobify quicker</h3>
    </div>
    <div class="benefit-container">
      <img class="check-icon" src="./assets/images/check-symbol.svg" />
      <h3 class="heading-small">Be found by employers on Jobify</h3>
    </div>
    <form #cvForm="ngForm" (ngSubmit)="onFormSubmit()">
      <label for="cv" class="label">Upload CV</label>
      <input 
        type="file"
        class="input"
        id="cv"
        (change)="onCvSelected($event)"/>
    </form>
  </div>
  <div *ngIf="cv" class="view-cv-container">
    <img class="check-icon" src="./assets/images/check-symbol.svg" />
    <div>
      <h3 class="heading-small">{{ cvName }}</h3>
      <span class="date">Uploaded on 12.02.2020</span>
    </div>
    <a class="view-button" href="{{ cv }}" target="_blank">
      <img class="button-icon" src="./assets/images/cv-2.svg" />
      View
    </a>
    <a (click)="onCvRemove()" class="remove-button">
      <img class="button-icon" src="./assets/images/delete.svg" />
      Remove
    </a>
  </div>
</div>