@import '~src/styles.scss';

.container {
 padding: 3rem;
}
.upload-cv-container {
  max-width: 38rem;
  margin: auto;
  padding: 2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.upload-icon {
  width: 9rem;
}
.benefit-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: .6rem 0 .6rem 1rem;
}
.check-icon {
  width: 2rem;
  margin-right: 1rem;
}
.heading-small {
  font-weight: 400;
}
.heading-main {
  font-weight: bold; 
  font-size: 2.2rem;
}
.label {
  background-color: $jobseeker-red-dark;
  padding: 1rem 2rem;
  display: block;
  font-weight: bold;
  text-align: center;
  max-width: 24rem;
  margin: 3rem auto;
  color: $white;
  border-radius: 4px;
  font-size: 1.6rem;
  cursor: pointer;
}
.input {
  visibility: hidden;
  height: 0;
}

.view-cv-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;  
}
.check-icon {
  width: 2rem;
  margin-right: 1rem;
}
.date {
  font-size: 1.4rem;
  margin: .6rem 0;
  display: inline-block;
  color: $grey;
}
.view-button {
  background-color: #43b1e5;
  color: $white;
  padding: .6rem 1.4rem;
  border-radius: 4px;
  margin: 0 1rem 0 10rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.remove-button {
  background-color: $grey-light;
  color: $grey-dark;
  padding: .6rem 1.4rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.button-icon {
  width: 1.8rem;
  margin-right: .6rem;
}