<nav class="nav-secondary-jobseeker">
  <ul class="nav-secondary-jobseeker__list">
    <li class="nav-secondary-jobseeker__list-item">
      <a 
        routerLink="/jobs"
        routerLinkActive="nav-secondary-jobseeker__list-item-link-active"
        class="nav-secondary-jobseeker__list-item-link">Find jobs</a>
    </li>
    <li class="nav-secondary-jobseeker__list-item">
      <a 
        routerLink="/cv"
        routerLinkActive="nav-secondary-jobseeker__list-item-link-active"
        class="nav-secondary-jobseeker__list-item-link">Upload CV</a>
    </li>
    <li class="nav-secondary-jobseeker__list-item">
      <a
        routerLink="/market-insights"
        routerLinkActive="nav-secondary-jobseeker__list-item-link-active" 
        class="nav-secondary-jobseeker__list-item-link">Market insights</a>
    </li>
  </ul>
</nav>