<nav class="nav-secondary-jobseeker">
  <ul class="nav-secondary-jobseeker__list">
    <li class="nav-secondary-jobseeker__list-item">
      <a class="nav-secondary-jobseeker__list-item-link" href="#">Find jobs</a>
    </li>
    <li class="nav-secondary-jobseeker__list-item">
      <a class="nav-secondary-jobseeker__list-item-link" href="#">Upload CV</a>
    </li>
    <li class="nav-secondary-jobseeker__list-item">
      <a class="nav-secondary-jobseeker__list-item-link" href="#">Market insights</a>
    </li>
    <li class="nav-secondary-jobseeker__list-item">
      <a class="nav-secondary-jobseeker__list-item-link" href="#">Try Jobify Premium</a>
    </li>
  </ul>
</nav>