@import '~src/styles.scss';

.nav-secondary-jobseeker {
  position: fixed;
  top: 7.2rem;
  left: 0;
  width: 100%;
  display: flex;
  background-color: $jobseeker-red;

  &__list {
    margin: 0;
  }

  &__list-item {
    display: inline-block;

    &:last-of-type {
      background-color: #702DBC;
      
      &:hover {
        background-color: #503075;
      }
    }

    &:hover {
      background-color: $jobseeker-red-dark;
    }
  }

  &__list-item-link {
    padding: 1.5rem;
    display: block;
    color: $white;

    &-active {
      background-color: $jobseeker-red-dark;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translate(-50%);
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $jobseeker-red-dark;
      }
    }
  }
}
