<div class="tracker">
<h2 class="heading-medium">My Jobs Tracker</h2>
<ul class="menu-list">
  <li class="item">
    <a
      routerLink="applied" 
      routerLinkActive="link-active"
      class="link">
      Applied Jobs
    </a>
  </li>
  <li class="item">
    <a
      routerLink="saved" 
      routerLinkActive="link-active"
      class="link">
      Saved Jobs
    </a>
  </li>
  <li class="item">
    <a
      class="link-filler">
    </a>
  </li>
</ul>
<app-applied-jobs *ngIf="appliedJobs"></app-applied-jobs>
<app-saved-jobs *ngIf="savedJobs"></app-saved-jobs>
</div>
