@import '~src/styles.scss';

.signup {
  height: 100vh;
  min-height: 60rem;
  background-color: $grey-light;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15rem 2rem;

  &__form-container--jobseeker {
    width: 100%;
    max-width: 40rem;
    background-color: $white;
    border: 1px solid $grey-medium;
    border-radius: 4px;

    .signup__jobseeker-tab {
      flex: 1;
      padding: 1.5rem;
      text-align: center;
      background-color: $white;
      font-weight: bold;
      color: $grey-dark;
    }

    .signup__employer-tab {
      flex: 1;
      padding: 1.5rem;    
      text-align: center;
      background-color: $grey-medium;
      color: $grey-dark;

      &:hover {
        background-color: $grey-light;
      }
    }

     .signup__button {
      background-color: $jobseeker-red;
      padding: 1rem;
      width: 100%;
      max-width: 16rem;
      border-radius: 4px;
      margin: 1rem auto;
      display: block;
      color: $white;
    }
  }

  &__form-container--employer {
    width: 100%;
    max-width: 40rem;
    background-color: $white;
    border: 1px solid $grey-medium;
    border-radius: 4px;

    .signup__jobseeker-tab {
      flex: 1;
      padding: 1.5rem;
      text-align: center;
      background-color: $grey-medium;
      color: $grey-dark;

      &:hover {
        background-color: $grey-light;
      }
    }

    .signup__employer-tab {
      flex: 1;
      padding: 1.5rem;
      color: $grey-dark;
      font-weight: bold;
      text-align: center;
      background-color: $white;
    }

     .signup__button {
      background-color: $employer-green;
      padding: 1rem;
      width: 100%;
      max-width: 16rem;
      border-radius: 4px;
      margin: 1rem auto;
      display: block;
      color: $white;
    }
  }

  &__tabs {
    cursor: pointer;
    display: flex;
  }

  .heading-medium {
    text-align: center;
    margin-top: 2.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 2rem; 
  }

  &__input-group {
    position: relative;
    text-align: center;
    padding: .5rem;
  }

  &__form-input {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid $grey-medium; 
    color: $grey-dark;
    border-radius: 4px;
    outline: none;
    width: 90%;
    position: relative;
  }

  input.ng-valid {
    border: 1px solid $employer-green;
  }

  input.ng-invalid.ng-dirty {
    border: 1px solid $jobseeker-red-dark;
  }

  &__label {
    position: absolute;
    z-index: 2;
    top: 2.8rem;
    left: 4.5rem;
    color: $grey-dark;
    transition: all .5s;
  }

  &__label--not-empty {
    transform: translateX(-2rem) translateY(-3.5rem);
    font-size: 1.4rem;
    font-weight: bold;
  }

  input:focus ~ label {
    transform: translateX(-2rem) translateY(-3.5rem);
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__error {
    text-align: left;
    display: block;
    margin-left: 2rem;
    color: $jobseeker-red-dark;
  }

  p {
    margin: 1rem;
  }

  &__form-input-checkbox {
    width: auto;
  }

  &__terms-link {
    color: #2AA3DD;
    
    &:hover {
      opacity: .8;
      text-decoration: underline;
    }

  }

  .google-button {
    position: relative;
    background-color: $white;
    color: #444;
    display: block;
    margin: 0 auto 2rem;
    padding: 1rem 2rem 1rem 5.5rem;
    border-radius: 4px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;

    &::before {
      content: '';
      height: 100%;
      width: 4.2rem;
      position: absolute;
      top: 0;
      left: 0;
      background: url('../../../assets/images/google-btn.svg') transparent 5px 50% no-repeat;
    }
  }

  &__login-link {
    color: $unifier-orange;
    font-weight: bold;

    &:hover {
      opacity: .8;
      text-decoration: underline;
    }
  }

}

