<div class="signup">
  <div *ngIf="jobsSection" class="signup__form-container--jobseeker">
    <div class="signup__tabs">
      <a         
        class="heading-small signup__jobseeker-tab">
        Jobseeker
      </a>
      <a 
        (click)="switchTab()"
        class="heading-small signup__employer-tab">
        Employer
      </a>
    </div>
    <h2 class="heading-medium">Sign up</h2>
    <form class="signup__form" (submit)="onSignup(signupForm)" #signupForm="ngForm">
      <div class="signup__input-group">
        <input 
          id="emailJob"
          type="email" 
          name="email" 
          class="signup__form-input"
          ngModel
          (change)="getEmailValueJob(emailInput.value)"
          #emailInput="ngModel"
          [ngClass]="{'ng-invalid ng-dirty': emailInput.invalid && formSubmitted}"
          required
          email>
        <label [ngClass]="{'signup__label--not-empty': emailInputEmptyJob}" class="signup__label" for="emailJob">Email</label>
        <span *ngIf="(emailInput.invalid && emailInput.dirty) || (emailInput.invalid && formSubmitted)" class="signup__error">Enter valid email</span>
      </div>
      <div class="signup__input-group">
        <input 
          id="passJob"
          type="password" 
          name="password" 
          class="signup__form-input"
          ngModel
          (change)="getPassValueJob(passwordInput.value)"
          #passwordInput="ngModel"
          [ngClass]="{'ng-invalid ng-dirty': passwordInput.invalid && formSubmitted}"
          required>
        <label [ngClass]="{'signup__label--not-empty': passInputEmptyJob}" class="signup__label" for="passJob">Password</label>
        <span *ngIf="(passwordInput.invalid && passwordInput.dirty) || (passwordInput.invalid && formSubmitted)" class="signup__error">Enter valid password</span>
      </div>
      <div class="signup__input-group">
        <input 
          type="checkbox" 
          name="terms" 
          class="signup__form-input signup__form-input-checkbox" 
          ngModel
          #termsInput="ngModel"
          required>I have read and agree to Jobify's <a class="signup__terms-link" routerLink="/">terms of use</a> and <a class="signup__terms-link" routerLink="/">privacy policy</a>.
          <span *ngIf="(termsInput.invalid && termsInput.dirty) || (termsInput.invalid && formSubmitted)" class="signup__error">Please agree to the terms of use before continuing</span>
      </div>
      <button class="button signup__button">Sign up</button>
    </form>
    <button id="googleBtn" class="button google-button">Sign up with Google</button>
  </div>
  <div *ngIf="!jobsSection" class="signup__form-container--employer">
    <div class="signup__tabs">
      <a 
        (click)="switchTab()"
        class="heading-small signup__jobseeker-tab">
        Jobseeker
      </a>
      <a 
        class="heading-small signup__employer-tab">
        Employer
      </a>
    </div>
    <h2 class="heading-medium">Sign up</h2>
    <form class="signup__form" (submit)="onSignup(signupForm)" #signupForm="ngForm">
      <div class="signup__input-group">
        <input 
          id="company"
          type="text" 
          name="company" 
          class="signup__form-input"
          ngModel
          (change)="getCompanyValue(companyInput.value)"
          #companyInput="ngModel"
          [ngClass]="{'ng-invalid ng-dirty': companyInput.invalid && formSubmitted}"
          required
          email>
        <label  [ngClass]="{'signup__label--not-empty': companyInputEmpty}" class="signup__label" for="company">Company</label>
        <span *ngIf="(companyInput.invalid && companyInput.dirty) || (companyInput.invalid && formSubmitted)" class="signup__error">Enter valid company name</span>
      </div>
      <div class="signup__input-group">
        <input 
          id="emailEmp"
          type="email" 
          name="email" 
          class="signup__form-input"
          ngModel
          (change)="getEmailValueEmp(emailInput.value)"
          #emailInput="ngModel"
          [ngClass]="{'ng-invalid ng-dirty': emailInput.invalid && formSubmitted}"
          required
          email>
        <label  [ngClass]="{'signup__label--not-empty': emailInputEmptyEmp}" class="signup__label" for="emailEmp">Email</label>
        <span *ngIf="(emailInput.invalid && emailInput.dirty) || (emailInput.invalid && formSubmitted)" class="signup__error">Enter valid email</span>
      </div>
      <div class="signup__input-group">
        <input 
          id="passEmp"
          type="password" 
          name="password" 
          class="signup__form-input"
          ngModel
          (change)="getPassValueEmp(passwordInput.value)"
          #passwordInput="ngModel"
          [ngClass]="{'ng-invalid ng-dirty': passwordInput.invalid && formSubmitted}"
          required>
        <label  [ngClass]="{'signup__label--not-empty': passInputEmptyEmp}" class="signup__label" for="passEmp">Password</label>
        <span *ngIf="(passwordInput.invalid && passwordInput.dirty) || (passwordInput.invalid && formSubmitted)" class="signup__error">Enter valid password</span>
      </div>
      <div class="signup__input-group">
        <input 
          type="checkbox" 
          name="terms" 
          class="signup__form-input signup__form-input-checkbox" 
          ngModel
          #termsInput="ngModel"
          required>I have read and agree to Jobify's <a class="signup__terms-link" routerLink="/">terms of use</a> and <a class="signup__terms-link" routerLink="/">privacy policy</a>.
          <span *ngIf="(termsInput.invalid && termsInput.dirty) || (termsInput.invalid && formSubmitted)" class="signup__error">Please agree to the terms of use before continuing</span> 
      </div>
      <button class="button signup__button">Sign up</button>
    </form>
  </div>
  <p>Already have an account? <a class="signup__login-link" routerLink="/login">Log in</a></p>
</div>
    