@import '~src/styles.scss';

.signup {
  height: 100vh;
  min-height: 60rem;
  background-color: $grey-light;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15rem 2rem;
}

p {
 margin: 1rem;
}
a {
  color: $unifier-orange;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: .8;
    text-decoration: underline;
  }
}


