// COLORS

// Primary
$jobseeker-red: #e82f3a;
$jobseeker-red-dark: darken($jobseeker-red, 10%);
$jobseeker-red-darker: darken($jobseeker-red, 20%);
$jobseeker-red-light: lighten($jobseeker-red, 10%);

$employer-green: #13aa52;
$employer-green-dark: darken($employer-green, 10%);
$employer-green-light: lighten($employer-green, 10%);

$unifier-orange: #ffa500;
$unifier-gold: #ffd700;  

// Secondary
$grey-light: #f5f5f5;
$grey-medium: #dcdcdc;
$grey-dark: #383838;
$grey: grey;

$black: #000;
$white: #fff;

// TYPOGRAPHY

// Fonts
$roboto: 'Roboto', sans-serif;
$roboto-light: 400;
$roboto-bold: 700;

$roboto-slab: 'Roboto Slab', serif;;
$roboto-slab-light: 400;
$roboto-slab-bold: 700;

// Headings
$heading-big: 3.2rem;
$heading-medium: 2.6rem;
$heading-small: 1.8rem;
$heading-extra-small: 1.4rem;

// Paragraphs
$paragraph-big: 1.8rem;
$paragraph-small: 1.4rem;
