@import '~src/styles.scss';

.profile {
  max-width: 100rem;
  height: 100vh;
  margin: auto;
  padding-top: 8rem;
}
.list {
  margin: 4rem 0 2rem;
  list-style-type: none; 
  margin-bottom: 30rem;
}
.item {
  display: inline-block;
}
.link {
  font-size: 1.8rem;
  color: $grey;
  padding: 1rem 4rem;
  border-bottom: 3px solid $grey-medium;

  &:hover {
    color: $grey-dark;
  }
}
.link-filler {
   font-size: 1.8rem;
   color: $grey;
   padding: 1rem 8rem;
   border-bottom: 3px solid $grey-medium;
}
.link-active {
  border-bottom: 3px solid $jobseeker-red-dark;
  color: $grey-dark;
}

