<div class="profile">
<h2 class="heading-medium">Profile</h2>
<ul class="list">
  <li class="item">
    <a
      routerLink="summary" 
      routerLinkActive="link-active"
      class="link">
      Summary
    </a>
  </li>
  <li class="item">
    <a
      routerLink="cv" 
      routerLinkActive="link-active"
      class="link">
      CV
    </a>
  </li>
  <li class="item">
    <a
      routerLink="experience" 
      routerLinkActive="link-active"
      class="link">
      Experience
    </a>
  </li>
  <li class="item">
    <a
      routerLink="education" 
      routerLinkActive="link-active"
      class="link">
      Education
    </a>
  </li>
  <li class="item">
    <a
      routerLink="skills"
      routerLinkActive="link-active" 
      class="link">
      Skills
    </a>
  </li>
  <li class="item">
    <a
      class="link-filler">
    </a>
  </li>
</ul>
</div>
