<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div (window:keydown)="onKey($event)" class="search" [ngClass]="{'search--pristine': !jobsSearch}">
  <div class="search__bg"></div>
  <form 
    class="search__form" 
    [ngClass]="{'search__form--pristine': !jobsSearch}"
    (submit)="onSearch()" 
    [formGroup]="form"
    autocomplete="off">
    <div class="search__input-group"  [ngClass]="{'search__input-group--pristine': jobsSearch}">
      <label 
        for="title" 
        class="search__input-label"
        [ngClass]="{'search__input-label--pristine': !jobsSearch}">Search job title</label>
      <div class="search__input-icon search__input-icon--search"></div>
        <input
          class="search__form-input"
          type="text"
          name="title"
          formControlName="title"
          placeholder="Job title"
          (blur)="onTitleOut()"
          (input)="onTitleComplete($event.target.value)"
          id="title"/>
        <div *ngIf="titlesComplete" class="input-autocomplete titles-autocomplete">
          <ul class="list">
            <li 
              class="item" 
              *ngFor="let title of titlesComplete"
              (mousedown)="onSuggestTitleClick(title)">
              {{ title }} 
            </li>
          </ul>
        </div>
    </div>
    <div class="search__input-group" [ngClass]="{'search__input-group--pristine': jobsSearch}">
      <label 
        for="location" 
        class="search__input-label"
        [ngClass]="{'search__input-label--pristine': !jobsSearch}">Search city</label>
      <div class="search__input-icon search__input-icon--location"></div>
        <input
          class="search__form-input"
          type="text"
          name="location"
          formControlName="location"
          id="location"
          (blur)="onLocationOut()"
          (input)="onLocationComplete($event.target.value)"
          placeholder="Location"/>
        <div *ngIf="locationComplete" class="input-autocomplete">
          <ul class="list">
            <li 
              class="item" 
              [ngClass]="{'item-hover': i === locationCount - 1 }"
              *ngFor="let loc of locationComplete; let i = index"
              (mousedown)="onSuggestClick(loc)">
              {{ loc }} 
            </li>
          </ul>
        </div>
    </div>
    <button 
      class="button search__button"
      [ngClass]="{'search__button--pristine': !jobsSearch}">Find jobs</button>
    <ul *ngIf="jobsSearch" class="search__filters-list">
      <li 
        [ngClass]="{'filter-active': filterDateActive}" 
        class="search__filters-item">
        <span
         class="search__filters-item-title"
         [ngClass]="{'filter-active': filterDateActive}">Date Posted</span>
        <div class="search__filters-content">
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="radio"
              name="date"
              formControlName="date"
              id="day"
              value="day"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-date" for="day">Past 24 hours</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="radio"
              name="date"
              formControlName="date"
              id="week"
              value="week"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-date" for="week">Past week</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="radio"
              name="date"
              id="month"
              value="month"
              formControlName="date"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-date" for="month">Past month</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="radio"
              name="date"
              formControlName="date"
              id="all-time"
              value="all-time"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-date" for="all-time">All time</label>
          </div>
        </div>
      </li>
      <li 
        [ngClass]="{'filter-active': filterTypeActive}" 
        class="search__filters-item">
        <span 
          [ngClass]="{'filter-active': filterTypeActive}" 
          class="search__filters-item-title">Job type</span>
        <div class="search__filters-content">
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="full"
              formControlName="full"
              id="full"
              value="full-time"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-type" for="full">
                Full time
              </label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="part"
              formControlName="part"
              id="part"
              value="part-time"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-type" for="part">Part time</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="contract"
              formControlName="contract"
              id="contract"
              value="contract"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-type" for="contract">Contract</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="temporary"
              formControlName="temporary"
              id="temporary"
              value="temporary"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-type" for="temporary">Temporary</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="apprenticeship"
              formControlName="apprenticeship"
              id="apprenticeship"
              value="apprenticeship"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-type" for="apprenticeship">Apprenticeship</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="volunteer"
              formControlName="volunteer"
              id="volunteer"
              value="volunteer"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-type" for="volunteer">Volunteer</label>
          </div>
        </div>
      </li>
      <li
        [ngClass]="{'filter-active': filterSalaryActive}"  
        class="search__filters-item">
       <span 
          [ngClass]="{'filter-active': filterSalaryActive}" 
          class="search__filters-item-title">Salary range</span>
          <div class="search__filters-content range-container">
            <span class="multi-range">
              <div class="bar-container">
                <div class="tooltip-min-bar"></div>
                <div class="tooltip-max-bar"></div>
              </div>
              <div class="tooltip-min-wrapper">
                <span 
                  class="tooltip-min"
                  [ngClass]="{'tooltip-small': salaryMinVal == 0}">£{{ salaryMinVal | number }}</span>
              </div>
              <div class="tooltip-max-wrapper">
                <span 
                  class="tooltip-max">£{{ salaryMaxVal | number }}</span>
              </div>
              <input 
                class="range-input" 
                type="range" 
                min="0" 
                max="300000"
                step="10000"
                id="lower" 
                formControlName="salaryMin"
                #salaryMin
                [value]="salaryMinVal"
                (input)="onSalaryMinChange(salaryMin, salaryMax);"
                (change)="onSearch()" />
              <input 
                class="range-input" 
                type="range" 
                min="0" 
                max="300000" 
                step="10000"
                id="upper" 
                formControlName="salaryMax" 
                #salaryMax
                [value]="salaryMaxVal"
                (input)="onSalaryMaxChange(salaryMax, salaryMin)"
                (change)="onSearch()"/>
              <div class="axis">
                <span class="unit"></span>
                <span class="unit"></span>
                <span class="unit"></span>
                <span class="unit"></span>
                <span class="unit"></span>
                <span class="unit"></span>
                <span class="unit"></span>
              </div>
            </span>
          </div>
      </li>
      <li
        *ngIf="filterDateActive || filterTypeActive || filterSalaryActive"
        [ngClass]="{'filter-active': false}" 
        (click)="onClearFilters(searchForm)" 
        class="search__filters-clear">
        Clear filters
        <span 
          [ngClass]="{'filter-active': false}" 
          class="search__filters-clear-title">{{ filtersCount }}</span>
      </li>
    </ul>
  </form>
<!-- <ul class="dots">
  <li class="select"></li>
  <li class="dot"></li>
  <li class="dot"></li>
  <li class="dot"></li>
  <li class="dot"></li>
  <li class="dot"></li>
</ul>
</div> -->