<div class="search" [ngClass]="{'search--pristine': !jobsSearch}">
  <div class="search__bg"></div>
  <form 
    class="search__form" 
    [ngClass]="{'search__form--pristine': !jobsSearch}"
    (submit)="onSearch()" 
    [formGroup]="form"
    autocomplete="off">
    <div class="search__input-group">
      <label 
        for="title" 
        class="search__input-label"
        [ngClass]="{'search__input-label--pristine': !jobsSearch}">Search job title</label>
      <div class="search__input-icon search__input-icon--search"></div>
        <input
          class="search__form-input hide-input"
          type="text"
          name="title"
          formControlName="title"
          placeholder="Job title"
          id="title"/>
        <ng2-completer 
          [(ngModel)]="title" 
          [datasource]="titles" 
          [minSearchLength]="0" 
          [autoMatch]="false"
          [ngModelOptions]="{standalone: true}"
          [fillHighlighted]="false"
          [inputClass]="'autocomplete-input'"
          (keydown)="titleChanged(title)"
          (keyup)="getTitles(title)"
          [ngClass]="{'autocomplete-input-pristine': jobsSearch}"
          placeholder="Job title">
        </ng2-completer>
    </div>
    <div class="search__input-group">
      <label 
        for="location" 
        class="search__input-label"
        [ngClass]="{'search__input-label--pristine': !jobsSearch}">Search city</label>
      <div class="search__input-icon search__input-icon--location"></div>
        <input
          class="search__form-input hide-input"
          type="text"
          name="location"
          formControlName="location"
          id="location"
          placeholder="Location"/>
        <ng2-completer 
          [(ngModel)]="city" 
          [datasource]="cities" 
          [minSearchLength]="0" 
          [autoMatch]="false"
          [ngModelOptions]="{standalone: true}"
          [fillHighlighted]="false"
          [inputClass]="'autocomplete-input'"
          (keydown)="cityChanged(city)"
          [ngClass]="{'autocomplete-input-pristine': jobsSearch}"
          placeholder="Location">
        </ng2-completer>
    </div>
    <button 
      class="button search__button"
      [ngClass]="{'search__button--pristine': !jobsSearch}">Find jobs</button>
    <ul *ngIf="jobsSearch" class="search__filters-list">
      <li 
        [ngClass]="{'filter-active': filterDateActive}" 
        class="search__filters-item">
        <span
         class="search__filters-item-title"
         [ngClass]="{'filter-active': filterDateActive}">Date Posted</span>
        <div appDropdown class="search__filters-content">
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="radio"
              name="date"
              formControlName="date"
              id="day"
              value="day"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-date" for="day">Past 24 hours</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="radio"
              name="date"
              formControlName="date"
              id="week"
              value="week"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-date" for="week">Past week</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="radio"
              name="date"
              id="month"
              value="month"
              formControlName="date"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-date" for="month">Past month</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="radio"
              name="date"
              formControlName="date"
              id="all-time"
              value="all-time"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-date" for="all-time">All time</label>
          </div>
        </div>
      </li>
      <li 
        [ngClass]="{'filter-active': filterTypeActive}" 
        class="search__filters-item">
        <span 
          [ngClass]="{'filter-active': filterTypeActive}" 
          class="search__filters-item-title">Job type</span>
        <div appDropdown class="search__filters-content">
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="full"
              formControlName="full"
              id="full"
              value="full-time"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-type" for="full">Full time</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="part"
              formControlName="part"
              id="part"
              value="part-time"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-type" for="part">Part time</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="contract"
              formControlName="contract"
              id="contract"
              value="contract"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-type" for="contract">Contract</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="temporary"
              formControlName="temporary"
              id="temporary"
              value="temporary"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-type" for="temporary">Temporary</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="apprenticeship"
              formControlName="apprenticeship"
              id="apprenticeship"
              value="apprenticeship"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-type" for="apprenticeship">Apprenticeship</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="volunteer"
              formControlName="volunteer"
              id="volunteer"
              value="volunteer"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-type" for="volunteer">Volunteer</label>
          </div>
        </div>
      </li>
      <li
        [ngClass]="{'filter-active': filterSalaryActive}"  
        class="search__filters-item">
        <span 
          [ngClass]="{'filter-active': filterSalaryActive}" 
          class="search__filters-item-title">Salary range</span>
        <div appDropdown class="search__filters-content">
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="rangelow"
              formControlName="rangelow"
              id="rangelow"
              value="rangelow"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-salary" for="rangelow">£20K - £40K</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="rangemedium"
              formControlName="rangemedium"
              id="rangemedium"
              value="rangemedium"
              (change)="onSearch()">
              <label class="search__input-label--filter search__input-label--filter-salary" for="rangemedium">£40K - £60K</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="range"
              formControlName="range"
              id="range"
              value="range"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-salary" for="range">£60K - £80K</label>
          </div>
          <div class="search__input-group--filters">
            <input
              class="search__input--filter"
              type="checkbox"
              name="rangehigh"
              formControlName="rangehigh"
              id="rangehigh"
              value="rangehigh"
              (change)="onSearch()">
            <label class="search__input-label--filter search__input-label--filter-salary" for="rangehigh">More than £80K</label>
          </div>
        </div>
      </li>
      <li
        *ngIf="filterDateActive || filterTypeActive || filterSalaryActive"
        [ngClass]="{'filter-active': false}" 
        (click)="onClearFilters(searchForm)" 
        class="search__filters-clear">
        Clear filters
        <span 
          [ngClass]="{'filter-active': false}" 
          class="search__filters-clear-title">{{ filtersCount }}</span>
      </li>
    </ul>
  </form>
</div>