@import '~src/styles.scss';

.login {
  height: 100vh;
  min-height: 50rem;
  background-color: $grey-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20rem 2rem; 
}