@import '~src/styles.scss';

.login {
  height: 100vh;
  min-height: 50rem;
  background-color: $grey-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; 
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-medium {
  margin: 1rem;
  color: $grey-dark;
}
.heading-extra-small {
  margin-bottom: 3.5rem;
  color: $grey;
}
.logo img {
  width: 12rem;
  margin-bottom: 3.5rem;
}
p {
 margin: 1rem;
 text-align: center;
}
a {
  color: $unifier-orange;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: .8;
    text-decoration: underline;
  }
}
