<div class="login">
  <div class="login__form-container">
    <h2 class="heading-medium">Log in</h2>
    <form class="login__form" (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="login__input-group">
        <input
          id="email"
          class="login__form-input" 
          type="email" 
          name="email" 
          ngModel
          #emailInput="ngModel"
          required
          email>
        <label class="login__label" for="email">Email</label>
      </div>
      <div class="login__input-group">
        <input
          id="password"
          class="login__form-input"  
          type="password" 
          name="password" 
          ngModel
          #passwordInput="ngModel"
          required>
        <label class="login__label" for="password">Password</label>
      </div>
      <button class="button login__button">Log in</button>
    </form>
  </div>
</div>  