<footer class="footer">
  <a 
    routerLink="/"
    class="link"
    >
    <img class="logo" src="../../assets/images/logo3.png" />
  </a>
  <ul class="list">
    <h2 class="heading-small">General</h2>
    <li class="item">
      <a href="" class="link">About</a>
    </li>
    <li class="item">
      <a href="" class="link">Terms of Use</a>
    </li>
    <li class="item">
      <a href="" class="link">Privacy Policy</a>
    </li>
    <li class="item">
      <a href="" class="link">Help</a>
    </li>
    <li class="item">
      <a href="" class="link">Developers</a>
    </li>
  </ul>
  <ul class="list">
    <h2 class="heading-small">Jobseekers</h2>
    <li class="item">
      <a href="" class="link">Find Jobs</a>
    </li>
    <li class="item">
      <a href="" class="link">Career Development</a>
    </li>
    <li class="item">
      <a href="" class="link">Market Insights</a>
    </li>
  </ul>
  <ul class="list">
    <h2 class="heading-small">Employers</h2>
    <li class="item">
      <a href="" class="link">Advertise Jobs</a>
    </li>
    <li class="item">
      <a href="" class="link">Employer Advice</a>
    </li>
    <li class="item">
      <a href="" class="link">Products and Services</a>
    </li>
    <li class="item">
      <a href="" class="link">Partner Network</a>
    </li>
  </ul>
  <ul class="list list-horizontal">
    <li class="social-item">
      <a href="" class="link">
        <img class="social-media" src="../../assets/images/facebook.svg" />
      </a>
    </li>
    <li class="social-item">
      <a href="" class="link">
        <img class="social-media" src="../../assets/images/google-plus.svg" />
      </a>
    </li>
    <li class="social-item">
      <a href="" class="link">
        <img class="social-media" src="../../assets/images/linkedin.svg" />
      </a>
    </li>
    <li class="social-item">
      <a href="" class="link">
        <img class="social-media" src="../../assets/images/twitter.svg" />
      </a>
    </li>
  </ul>
</footer>