<nav class="nav-secondary-employer">
  <ul class="nav-secondary-employer__list">
    <li class="nav-secondary-employer__list-item">
      <a 
        routerLink="/employer/post-job"
        routerLinkActive="nav-secondary-employer__list-item-link-active"
        class="nav-secondary-employer__list-item-link">Post a job</a>
    </li>
    <li class="nav-secondary-employer__list-item">
      <a 
        routerLink="/employer/products"
        routerLinkActive="nav-secondary-employer__list-item-link-active"
        class="nav-secondary-employer__list-item-link">Products</a>
    </li>
    <li class="nav-secondary-employer__list-item">
      <a 
        routerLink="/employer/pricing"
        routerLinkActive="nav-secondary-employer__list-item-link-active"
        class="nav-secondary-employer__list-item-link">Pricing</a>
    </li>
  </ul>
</nav>