<nav class="nav-secondary-employer">
  <ul class="nav-secondary-employer__list">
    <li class="nav-secondary-employer__list-item">
      <a class="nav-secondary-employer__list-item-link" href="#">Post an ad</a>
      <div class="caret-active"></div>
    </li>
    <li class="nav-secondary-employer__list-item">
      <a class="nav-secondary-employer__list-item-link" href="#">Products</a>
    </li>
    <li class="nav-secondary-employer__list-item">
      <a class="nav-secondary-employer__list-item-link" href="#">Pricing</a>
    </li>
  </ul>
</nav>