@import '~src/styles.scss';

.container {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.avatar-img {
  height: 20rem;
  cursor: pointer;
}
.image-input {
  visibility: hidden;
}
.summary-form {
  width: 70%;
  padding: 4rem 2rem 2rem;
  border-radius: 4px;
  position: relative;
  transition: all .3s;
}
.trash-icon {
  width: 2rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}
.edit-mode-form {
  background-color: $grey-light;
  -webkit-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.26);
    box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.26);
}
.input-group {
  position: relative;
}
.label {
  display: block;
  margin-bottom: .3rem;
  position: absolute;
  top: -1rem;
  left: 1rem;
  color: $grey;
  transition: all .3s;
}
.edit-mode-label {
  top: -2rem;
  left: 0.5rem;
}
.check-icon {
  width: 1.4rem;
  position: absolute;
  top: -1rem;
  left: -1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.value-set {
  opacity: 1;
  visibility: visible;
}
.input {
  width: 100%;
  font-size: 1.8rem;
  padding: .6rem 1rem;
  margin-bottom: 3rem;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: $white;
  color: $grey-dark;
  transition: all .3s;
}
.edit-mode-input {
  border: 1px solid $grey-medium;
  visibility: visible;
}
.select {
  width: 100%;
  margin-bottom: 3rem;
  padding: .45rem 1rem;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid transparent;
  background-color: $white;
  color: $grey-dark;
  font-size: 1.8rem;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  transition: all .3s;
}
.edit-mode-select {
  border: 1px solid $grey-medium;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  appearance: menulist;
}
.submit-btn {
  padding: 1rem 2rem;
  background-color: $jobseeker-red-dark;
  margin: 2rem auto 1rem;
  display: block;
  max-width: 25rem;
  width: 100%;
  border-radius: 4px;
  color: $white;
  visibility: hidden;
  transition: transform .3s;
  transform: translateY(2rem);
}
.edit-mode-btn {
  transform: translateY(0);
  visibility: visible;
}