<div class="container">
  <form 
    #imageForm="ngForm" 
    (ngSubmit)="onImageSubmit()"
    class="image-form">
    <label
      class="image-label"
      for="image">
        <img [src]="avatarImg" src="./assets/images/avatar-2.svg" class="avatar-img" />
      </label>
    <input
      type="file"
      class="image-input"
      id="image"
      (change)="onAvatarSelected($event)"/>
  </form>
  <form 
    [formGroup]="form" 
    (submit)=onFormSubmit() 
    class="summary-form"
    [ngClass]="{'edit-mode-form': editMode}">
    <img (click)="onFormEdit()" src="./assets/images/edit-3.svg" class="trash-icon" />
    <div class="input-group">
      <img 
        src="./assets/images/check-symbol.svg" 
        class="check-icon" 
        [ngClass]="{'value-set': fname && !editMode}"/>
      <label 
        for="fname" 
        class="label"
        [ngClass]="{'edit-mode-label': editMode}">First Name</label>
      <input
        class="input"
        id="fname"
        type="text"
        formControlName="fname"
        [attr.disabled]="editMode? null: ''"
        [ngClass]="{'edit-mode-input': editMode}"/>
    </div>
    <div class="input-group">
      <img 
        src="./assets/images/check-symbol.svg" 
        class="check-icon" 
        [ngClass]="{'value-set': lname && !editMode}"/>
      <label 
        for="lname" 
        class="label"
        [ngClass]="{'edit-mode-label': editMode}">Last Name</label>
      <input
        class="input"
        id="lname"
        type="text"
        formControlName="lname"
        [attr.disabled]="editMode? null: ''"
        [ngClass]="{'edit-mode-input': editMode}"/>
    </div>
    <div class="input-group">
      <img 
        src="./assets/images/check-symbol.svg" 
        class="check-icon" 
        [ngClass]="{'value-set': country && !editMode}"/>
      <label 
        for="country" 
        class="label"
        [ngClass]="{'edit-mode-label': editMode}">Country of Residence</label>
      <select 
        class="select"
        id="country"
        formControlName="country"
        [attr.disabled]="editMode? null: ''"
        [ngClass]="{'edit-mode-select': editMode}">
        <option value="0" selected="selected">Select country</option>
        <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
      </select> 
    </div>
    <div class="input-group">
      <img 
        src="./assets/images/check-symbol.svg" 
        class="check-icon" 
        [ngClass]="{'value-set': address && !editMode}"/>
      <label 
        for="address" 
        class="label"
        [ngClass]="{'edit-mode-label': editMode}">Address</label>
      <input
        class="input"
        id="address"
        type="text"
        formControlName="address"
        [attr.disabled]="editMode? null: ''"
        [ngClass]="{'edit-mode-input': editMode}"/>
    </div>
    <div class="input-group">
      <img 
        src="./assets/images/check-symbol.svg" 
        class="check-icon" 
        [ngClass]="{'value-set': number && !editMode}"/>
      <label 
        for="number" 
        class="label"
        [ngClass]="{'edit-mode-label': editMode}">Phone Number</label>
      <input
        class="input"
        id="number"
        type="number"
        formControlName="number"
        [attr.disabled]="editMode? null: ''"
        [ngClass]="{'edit-mode-input': editMode}"/>
    </div>
    <button
      type="submit"
      class="submit-btn"
      [ngClass]="{'edit-mode-btn': editMode}">Update my profile</button>
  </form>
</div>